<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.mjolnir.android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DayScheduleActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.CustomizeClasses"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.InstagramFeed"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.SampleGridViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.ImageDetailActivity"
            android:label="@string/app_name" >
        </activity>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a07eeec33dda94a61c876eefc7bd05ceb5265922" />
    </application>

</manifest>
